body {
    background-color: #ECECEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
}

.content {
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 10px;
    margin-right: 10px;
}

.center {
    text-align: center;
}

.input-number {
    text-align: right;
    font-size: inherit !important;
    border-radius: 0 !important;
    height: auto !important;
}

.img-border {
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
}

.terrain-group {
    border-bottom: #C1C1BC 3px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.btn-group {
    margin-top: 15px;
    width: 100%;
}

.btn-calc {
    border-radius: 0 !important;
    width: 50%;
    font-size: 1.5em;
    color: white !important;
}

.btn-plus {
    background-color: #3cb371;
    border-top: 3px solid #0D8541;
    border-right: 3px solid #0D8541;
    border-bottom: 3px solid #0D8541;
}

.btn-minus {
    background-color: #FB7754;
    border-top: 3px solid #BA3512;
    border-left: 3px solid #BA3512;
    border-bottom: 3px solid #BA3512;
}